/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #fff8f5;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cac6bd;
  border-radius: 10px;
}
