.custom-range {
  -webkit-appearance: none;
  appearance: none;
}
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #432a1e;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
}
.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #432a1e;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
}
